## Variables

1) Crear una variable que contenga un elemento del conjunto de números enteros y luego imprimir por pantalla

In [1]:
num=15
print(num)

15

2) Imprimir el tipo de dato de la constante 8.5

In [2]:
print(type(8.5))

<class 'float'>

3) Imprimir el tipo de dato de la variable creada en el punto 1

In [3]:
print(type(num))

<class 'int'>

4) Crear una variable que contenga tu nombre

In [4]:
name='Kevin Vílchez López'

5) Crear una variable que contenga un número complejo

In [5]:
comp=3-2j

6) Mostrar el tipo de dato de la variable crada en el punto 5

In [6]:
type(comp)

complex

7) Crear una variable que contenga el valor del número Pi redondeado a 4 decimales

In [7]:
varpi=3.1416

8) Crear una variable que contenga el valor 'True' y otra que contenga el valor True. ¿Se trata de lo mismo?

In [8]:
var1=True
var2='True'

9) Imprimir el tipo de dato correspondientes a las variables creadas en el punto 8

In [12]:
print(type(var1),
      type(var2))

<class 'bool'> <class 'str'>

10) Asignar a una variable, la suma de un número entero y otro decimal

In [14]:
sum=num+varpi
print(sum)

18.1416

sum=

11) Realizar una operación de suma de números complejos

In [15]:
print(comp+1j)

(3-1j)

12) Realizar una operación de suma de un número real y otro complejo

In [16]:
print(num+comp)

(18-2j)

13) Realizar una operación de multiplicación

In [17]:
5*2

10

14) Mostrar el resultado de elevar 2 a la octava potencia

In [18]:
2**8

256

15) Obtener el cociente de la división de 27 entre 4 en una variable y luego mostrarla

In [21]:
div=27
di=4
print(div/di)

6.75

16) De la división anterior solamente mostrar la parte entera

In [22]:
print(div//di)

6

17) De la división de 27 entre 4 mostrar solamente el resto

In [23]:
div%di

3

18) Utilizando como operandos el número 4 y los resultados obtenidos en los puntos 16 y 17. Obtener 27 como resultado

In [24]:
6*4+3

27

19) Utilizar el operador "+" en una operación donde intervengan solo variables alfanuméricas

In [25]:
5+8+9+6

28

20) Evaluar si "2" es igual a 2. ¿Por qué ocurre eso?

In [26]:
'2'==2

False

21) Utilizar las funciones de cambio de tipo de dato, para que la validación del punto 20 resulte verdadera

In [28]:
int('2')

2

22) ¿Por qué arroja error el siguiente cambio de tipo de datos? a = float('3,8')

In [29]:
a=float('3.8')    # lo correcto es usar punto para los decimales, incluso cuando lo escribimos como texto. en cambio en el problema escribieron el decimal con 'coma'.

23) Crear una variable con el valor 3, y utilizar el operador '-=' para modificar su contenido y que de como resultado 2.

In [32]:
b=3
print(b)
b-=1
print(b)

3
2

24) Realizar la operacion 1 << 2 ¿Por qué da ese resultado? ¿Qué es el sistema de numeración binario?

In [33]:
1<<2    # Da ese resultado por que en la numeración binaria el numero 1 es representado por: 0001 y al correr 2 digitos a la izquierda quedaría 0100, correspondiendole a esa posición 2^2.
        # El sistema de numeración binario es un sistema basado unicamente en ceros y una y segun cada conbinación da un numero u otro.

4

25) Realizar la operación 2 + '2' ¿Por qué no está permitido? ¿Si los dos operandos serían del mismo tipo, siempre arrojaría el mismo resultado?

In [34]:
2+'2'
        # no está permitido por un dato es un entero y el otro es un texto (string). Si los dos operando serían del mismo tipo el resultado varia dependiento el tipo de dato que sean

TypeError: unsupported operand type(s) for +: 'int' and 'str'

26) Realizar una operación válida entre valores de tipo entero y string

In [35]:
print(2+2+8)
print('2'+'2'+'8')

12
228